In [89]:
import pandas as pd # pandas used to handling tables and reading the files

In [154]:
dataset = pd.read_csv("50_Startups.csv") # Reading our csv file by using read_csv method and assigning into dataset

In [155]:
dataset # printing dataset value

   R&D Spend  Administration  Marketing Spend       State  Profit
0     133451            1334             1334    New York     789
1       1244           12445           114452  California  889452
2      53453           53453            53453     Florida    8897
3     126454            1264             1264    New York     889
4     313455           32345            32345     Florida   32345

In [156]:
dataset = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [157]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,133451,1334,1334,789,0,1
1,1244,12445,114452,889452,0,0
2,53453,53453,53453,8897,1,0
3,126454,1264,1264,889,0,1
4,313455,32345,32345,32345,1,0

In [158]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [159]:
independent = dataset[["R&D Spend", "Administration", "Marketing Spend","State_Florida", "State_New York"]]

In [160]:
independent

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0     133451            1334             1334              0               1
1       1244           12445           114452              0               0
2      53453           53453            53453              1               0
3     126454            1264             1264              0               1
4     313455           32345            32345              1               0

In [161]:
dependent = dataset[["Profit"]]

In [162]:
dependent

   Profit
0     789
1  889452
2    8897
3     889
4   32345

In [14]:
# Input and output split is done
# Now we are going to do for splitting training set and test set

In [163]:
from sklearn.model_selection import train_test_split # sklearn library will support ML
x_train,x_test,y_train,y_test =train_test_split(independent,dependent,test_size=0.30,random_state=0) # giving inputs for paramaterized function

In [164]:
# creating Linear algorithm(Learning space)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() # Assigning all functions in the LinearRegression class into regressor variable
regressor.fit(x_train,y_train) #Substituting training variables, after execution of this line w,b value will be calculated

LinearRegression()

In [18]:
#Model creation is done

In [165]:
weight = regressor.coef_ # assigning weight value by using coefficient function
weight # printing weight value

array([[-1.13683830e+00,  1.39720805e+00,  6.45472394e+00,
         2.71179531e-05, -7.66980397e-05]])

In [166]:
bias = regressor.intercept_ # assigning bias value by using the intercept function
bias # printing the bias value

array([134721.90800746])

In [167]:
y_pred=regressor.predict(x_test) # predicted output value

In [168]:
# Evaluation metrics process
from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred) # creating r_score value by using actual value and predicted value
r_score # printing the r_score value

-7150.001615862669

In [169]:
# Saving the model
import pickle
filename = "finalized model mul linear.sav" # creating filenmae with .sav extention and assigning tbhat into filename variable
pickle.dump(regressor,open(filename,'wb')) # writing binary value and saving our model

In [170]:
#Model saved successfully
# Now loading the saved model for verification
loaded_model= pickle.load(open("finalized model mul linear.sav",'rb'))
result = loaded_model.predict([[1234,4258,8524,0,1]])
result

C:\Users\Abu\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[194288.42822916]])